<footer class="bg-main-light py-4">
    <div class="container">
        <h2>Get The FreshCart app</h2>
        <p class="text-muted">We will send you a link, open it in your phone to download the app.</p>
        <div class="row">
            <div class="col-md-10">
                <input type="email" placeholder="Email..." class="form-control">
            </div>
            <div class="col-md-2">
                <button class="btn-main">Share App Link</button>
            </div>
        </div>
        <hr>
        <h3 class="h6 text-center">&copy; 2024 Mohamed ElHelaly All Rights Reserved</h3>
    </div>
</footer>
