<div class="container mt-5 w-50 p-5">
    <h2 *ngIf="step === 1">Forget Password</h2>
    <h2 *ngIf="step === 2">Verification Code</h2>
    <h2 *ngIf="step === 3">New Password</h2>

    <form [formGroup]="emailForm" *ngIf="step === 1" (ngSubmit)="sendVerifyCode()">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
            />
            <div
                *ngIf="emailForm.get('email')?.getError('email') && emailForm.get('email')?.touched"
                class="text-danger"
            >
                Please enter a valid email.
            </div>
        </div>
        <button #sendCodeBtn type="submit" class="btn btn-main w-100">Send Code</button>
    </form>

    <form *ngIf="step === 2" [formGroup]="codeForm" (ngSubmit)="verifyResetCode()">
        <div class="mb-3">
            <label for="code" class="form-label">Verification Code</label>
            <input
                type="text"
                id="code"
                class="form-control"
                formControlName="resetCode"
                required
            />
            <div
                *ngIf="codeForm.get('resetCode')?.touched && codeForm.get('resetCode')?.errors"
                class="text-danger"
            >
                <p *ngIf="codeForm.get('resetCode')?.getError('required')">Verification code is required.</p>
            </div>

            <button #verifyResetCodeBtn type="submit" class="btn-main w-100">Verify Code</button>

        </div>
    </form>

    <form
        [formGroup]="newPasswordForm"
        *ngIf="step === 3"
        (ngSubmit)="resetPassword()"
    >
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                required
            />
            <div
                *ngIf="newPasswordForm.get('email')?.touched && newPasswordForm.get('email')?.errors"
                class="text-danger"
            >
                <p *ngIf="newPasswordForm.get('email')?.getError('required')">Email is required.</p>
                <p *ngIf="newPasswordForm.get('email')?.getError('email')">Enter a valid email.</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input
                type="password"
                id="newPassword"
                class="form-control"
                formControlName="newPassword"
                required
            />
            <div
                *ngIf="newPasswordForm.get('newPassword')?.getError('required') && newPasswordForm.get('newPassword')?.touched"
                class="text-danger"
            >
                Password is required.
            </div>
        </div>
        <button #resetPasswordBtn type="submit" class="btn-main w-100">Reset Password</button>
    </form>
</div>
